<form [formGroup]="form">
  <div class="signup-form-container">
    <mat-form-field>
      <mat-label>name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.controls['name'].invalid"
        >Name is required.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="form.controls['password'].invalid"
        >Password is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="form.controls['email'].invalid"
        >Email is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">{{
          role
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['role'].invalid"
        >Role is required.</mat-error
      >
    </mat-form-field>
    <app-image-upload
      [images]="[imageUploaded]"
      (upload)="onImageUpload($event)"
      (delete)="onImageDelete($event)"
    ></app-image-upload>
    <hr />
    <button mat-raised-button (click)="submit()">Submit</button>
  </div>
</form>
