tr[mat-row] {
    transition: 0.1s;
    &:hover {
    background-color: rgb(60, 60, 60);
    }
}

.seller-product-management-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }