<h2>Product details: {{ product.name }}</h2>
<div class="product-details-container" *ngIf="productLoaded; else spinner">
  <div class="image-container">
    <div class="image-navigation-container" (click)="previousImage()">
      <img class="navigation" src="assets/icons/navigate-before.svg" alt="" />
    </div>
    <img
      class="preview"
      src="{{
        product.images.length
          ? 'api/media/' + product.images[imageIndex]
          : 'assets/avatar/placeholder.png'
      }}"
      alt="image"
    />
    <div class="image-navigation-container" (click)="nextImage()">
      <img class="navigation" src="assets/icons/navigate-next.svg" alt="" />
    </div>
  </div>
  <p class="image-index" *ngIf="product.images.length">
    {{ imageIndex + 1 + " / " + product.images.length }}
  </p>
  <br />
  <div class="product-info">
    <h2>
      {{ product.name }}
      <h3>by {{ owner }}</h3>
    </h2>
    <p>{{ product.description }}</p>
    <br />
    <p>Price: {{ product.price | currency : "EUR" }}</p>
    <p>{{ product.quantity }} in stock</p>
  </div>
</div>

<app-message-box
  *ngIf="result"
  [message]="result.message"
  [type]="result.type"
></app-message-box>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
