.product-details-container {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  padding: 1rem;
  margin: auto;
  background-color: #424242;
  box-shadow: 0px 1px 3px black;
  border-radius: 5px;
  > * {
    color: white;
  }

  .product-info {
  }

  .image-index {
    margin: auto;
  }

  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      &.preview {
        height: 250px;
        object-fit: contain;
        overflow: auto;
      }
      &.navigation {
        height: 2rem;
      }
    }
    .image-navigation-container {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      &:active {
        background-color: grey;
        opacity: 0.5;
        transition: 0.1s;
      }
    }
  }
}
