<div class="shopping-cart-page">
  <div class="shopping-cart-page-header">
    <h2>Shopping cart</h2>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    *ngIf="!fetchingShoppingCart"
  >
    <ng-container matColumnDef="image">
      <th
        mat-header-cell
        *matHeaderCellDef
        [hidden]="screenSizeService.currentScreenSize === 'XS'"
      >
        Image
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [hidden]="screenSizeService.currentScreenSize === 'XS'"
      >
        <ng-container *ngIf="element.product.images?.length; else noImage">
          <img
            [src]="'api/media/' + element.product.images[0]"
            alt="Product image"
          />
        </ng-container>
        <ng-template #noImage>
          <img
            src="assets/product-placeholder/question-mark.png"
            alt="Product image"
          />
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="product-name"
        [ngClass]="{
          'xs-screen': screenSizeService.currentScreenSize === 'XS'
        }"
      >
        {{ element.product.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Qty.</th>
      <td mat-cell *matCellDef="let element">
        <form [formGroup]="form">
          <mat-form-field
            (click)="$event.stopPropagation()"
            [ngClass]="{
              'xs-screen': screenSizeService.currentScreenSize === 'XS'
            }"
          >
            <input
              matInput
              [formControlName]="element.product.id"
              type="number"
              min="1"
              max="99"
            />
          </mat-form-field>
        </form>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngStyle]="{
          'word-break': 'break-all'
        }"
      >
        {{ element.product.price * element.quantity | currency : "EUR" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="$event.stopPropagation(); onDeleteItem(element)"
      >
        <img src="assets/icons/delete.svg" alt="delete" class="delete-icon" />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: displayedColumns"
      [routerLink]="['/product', element.product.id]"
    ></tr>
  </table>
  <br />
  <div class="submit-button-container">
    <button
      mat-raised-button
      color="primary"
      (click)="submitOrder()"
      *ngIf="dataSource.length"
    >
      Submit order
    </button>
  </div>
  <hr />
  <app-message-box
    *ngIf="result"
    [message]="result.message"
    [type]="result.type"
  ></app-message-box>
  <app-spinner *ngIf="isLoading || fetchingShoppingCart"></app-spinner>
</div>
