<div class="navbar-container">
  <div class="navbar">
    <div class="buttons-container">
      <ng-container *ngIf="authService.isAuthenticated">
        <a routerLink="/home" matTooltip="Home">
          <img src="assets/icons/home.svg" alt="" />
        </a>
      </ng-container>
      <a routerLink="/product-listing" matTooltip="Product listing">
        <img src="assets/icons/storefront.svg" alt="" />
      </a>
    </div>

    <div class="buttons-container action-buttons">
      <ng-container *ngIf="authService.isAuthenticated; else unauthenticated">
        <a
          routerLink="/shopping-cart"
          matTooltip="Shopping Cart"
          *ngIf="authService.isUser()"
        >
          <img src="assets/icons/shopping-cart.svg" alt="" />
        </a>
        <a
          routerLink="/seller-product-management"
          matTooltip="Seller product management"
          *ngIf="authService.hasSellerRight()"
        >
          <img src="assets/icons/add-business.svg" alt="" />
        </a>
        <a routerLink="/edit-profile" matTooltip="Edit profile">
          <img src="assets/icons/manage-account.svg" alt="" />
        </a>
        <a routerLink="/home" matTooltip="Logout" (click)="logout()">
          <img src="assets/icons/logout.svg" alt="" />
        </a>
      </ng-container>
      <ng-template #unauthenticated>
        <a routerLink="/login" matTooltip="Login">
          <img src="assets/icons/login.svg" alt="" />
        </a>
        <a routerLink="/sign-up" matTooltip="Sign up">
          <img src="assets/icons/register.svg" alt="" />
        </a>
      </ng-template>
    </div>
  </div>
</div>
