<h1 mat-dialog-title>Media Management</h1>
<div mat-dialog-content>
  <h2>You are managing: {{ data.product.name }}</h2>
  <h3>Owned by {{ ownerName }}</h3>
  <form [formGroup]="form">
    <div class="media-management-form-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" />
      </mat-form-field>
      <app-image-upload
        [images]="data.product.images"
        (upload)="onImageUpload($event)"
        (delete)="onImageDelete($event)"
        (newImagesOrder)="onRefreshImagesOrder($event)"
      ></app-image-upload>
    </div>
  </form>
  <mat-error *ngIf="invalidForm">Required fields are missing.</mat-error>
</div>
<div mat-dialog-actions align="center">
  <button
    mat-stroked-button
    color="accent"
    (click)="onUpdate()"
    cdkFocusInitial
  >
    Update
  </button>
  <button mat-button color="warn" (click)="openConfirmDialog(data.product)">
    Delete
  </button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>
