<div class="image-upload-container">
  <button
    mat-raised-button
    type="button"
    color="cresent"
    (click)="imageInput.click()"
  >
    {{
      imageUploaded.length
        ? imageUploaded.length + " images uploaded"
        : "Upload image"
    }}
  </button>
  <input
    hidden
    #imageInput
    type="file"
    (change)="onImageUpload(imageInput.files)"
  />
  <div class="image-preview-container" *ngFor="let image of imageUploaded">
    <img
      [src]="mediaService.mediaApiBaseURL + '/' + image.id"
      alt="Product image"
      (click)="setMainImage(image)"
      class="image-preview"
    />
    <button mat-button color="warn" (click)="openConfirmDialog(image)">
      Delete
    </button>
  </div>
  <mat-error *ngIf="uploadImageError">{{ uploadImageError }}</mat-error>
</div>
