<div class="image-upload-container">
  <button
    mat-flat-button
    type="button"
    color="primary"
    (click)="avatarInput.click()"
  >
    {{
      imageUploaded.length
        ? imageUploaded.length + " images uploaded"
        : "Upload image"
    }}
  </button>
  <input
    hidden
    #avatarInput
    type="file"
    (change)="onImageUpload(avatarInput.files)"
  />
  <div class="image-preview" *ngFor="let image of imageUploaded">
    <img
      [ngSrc]="mediaService.mediaApiBaseURL + '/' + image.id"
      alt="Product image"
      width="100"
      height="100"
    />
    <button mat-button color="warn" (click)="openConfirmDialog(image)">
      Delete
    </button>
  </div>
  <mat-error *ngIf="uploadImageError">{{ uploadImageError }}</mat-error>
</div>
