.order-history-page {
    overflow: auto;
  
    .order-history-page-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .order-status {
    font-size: 0.7rem;
  }

  tr[mat-row] {
    transition: 0.1s;
    &:hover {
      background-color: rgb(23, 23, 23);
      cursor: pointer;
    }
    &:active {
      background-color: rgb(57, 57, 57);
    }
  }
  
  img {
    height: 40px;
    overflow: auto;
    object-fit: contain;
    max-width: 40px;

    &.delete-icon {
        height: 25px;
    }
  }

  .product-name {
    &.xs-screen {
        width: 80px;
    }
  }

